.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.contact-container {
 /* flex: 2 1;*/
  background: #f9f9f9;
  padding: 20px 40px 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.map-container {
  flex: 1;
  height: 35%;
}

.social-links {
  margin-bottom: 30px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-contact {
  background: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Makes the button take full width */
  margin: 20px auto; /* Centers the button */
}

.popup-message {
  background: #28a745;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.img{
width:40px;
max-width:100%;
max-height: 5%;
}

.map-container iframe {
  border: 2px solid #007bff; /* Adds a blue border */
  border-radius: 8px; /* Smooth edges */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}