/*
.service-container{
  padding: 20px;
  text-align: center;
}

.intro {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}*/

.intro{
    padding: 20px;
}
.image-container{
  padding: 20px 20px 0px 20px;
}

.services-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 8%;
}

.service-box {
  width: 300px;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.service-box:hover {
  transform: scale(1.05);
  background-color: #7AC6D2; /* Green shade on hover */
  color: white;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-box {
    width: 90%;
  }
}